<style>
main {
	padding: 40px 15px;
	background: linear-gradient(4deg, #5f13869e 17%, #0e73e0a8 69%),
		url(http://eskipaper.com/images/bubbles-wallpaper-10.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.form-group label {
	font-weight: 500;
}

.main-form {
	margin: 0 auto;
}

.card-header {
	background-color: transparent;
	text-align: center;
}

.btn-lg.col-md-6 {
	margin: 10px auto !important;
	display: block;
}

.form-content {
	margin-bottom: 60px;
}

.form-content .form-control {
	border-radius: 0;
}

.container.form-content .btn {
	min-width: 140px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	height: 40px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.container.form-content .btn {
	background-image: linear-gradient(to right, #dc3545, #FCEE21, #dc3545, #dc3545);
	box-shadow: 0 4px 15px 0 rgba(2, 2, 2, 0.16);
	box-shadow: 0 4px 15px 0 rgba(2, 2, 2, 0.16);
}

.container.form-content .btn:hover {
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.header_content h2 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}

.header_content {
	text-align: center;
	s padding: 40px;
	color: #fff;
}
</style>
<script>
	$(function() {
		$('.button-checkbox')
				.each(
						function() {

							// Settings
							var $widget = $(this), $button = $widget
									.find('button'), $checkbox = $widget
									.find('input:checkbox'), color = $button
									.data('color'), settings = {
								on : {
									icon : 'glyphicon glyphicon-check'
								},
								off : {
									icon : 'glyphicon glyphicon-unchecked'
								}
							};

							// Event Handlers
							$button.on('click', function() {
								$checkbox.prop('checked', !$checkbox
										.is(':checked'));
								$checkbox.triggerHandler('change');
								updateDisplay();
							});
							$checkbox.on('change', function() {
								updateDisplay();
							});

							// Actions
							function updateDisplay() {
								var isChecked = $checkbox.is(':checked');

								// Set the button's state
								$button.data('state', (isChecked) ? "on"
										: "off");

								// Set the button's icon
								$button
										.find('.state-icon')
										.removeClass()
										.addClass(
												'state-icon '
														+ settings[$button
																.data('state')].icon);

								// Update the button's color
								if (isChecked) {
									$button.removeClass('btn-default')
											.addClass(
													'btn-' + color + ' active');
								} else {
									$button.removeClass(
											'btn-' + color + ' active')
											.addClass('btn-default');
								}
							}

							// Initialization
							function init() {

								updateDisplay();

								// Inject the icon if applicable
								if ($button.find('.state-icon').length == 0) {
									$button
											.prepend('<i class="state-icon '
													+ settings[$button
															.data('state')].icon
													+ '"></i>');
								}
							}
							init();
						});
	});
	</script>
<div class="container" ng-controller="bcontrol as b">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" ng-submit="b.createUser()">
			<h2>Add Blog.</small></h2>
			<hr class="colorgraph">
			<div class="col-12">
			<div class="form-group">
				<input type="text" name="blog_Title" id="blog_Title" class="form-control input-lg" placeholder="Title" tabindex="1"
                        ng-model="b.blog.blog_Title">
                        </div>
                        <div class="form-group">
				<input type="text" name="blog_Content" id="last_name" class="form-control input-lg" placeholder="Content"tabindex="1"
                        ng-model="b.blog.blog_Content">
                        </div>
			
		
			</div>
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-12"><input type="submit" value="AddBlog" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
				
			</div>
			
			
		</form>
	</div>
</div>